*{
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    position: absolute;
    min-height: 100vh;
    width: 100%;
      
}
nav{
    background-color: white;
    display: flex;
    height: 130px;
    /* position: relative; */
    
}
nav img{
    height: 100px;
    width: 100px;
    margin-top: 15px;
    
}

.nav-doc{
    display: flex;
    height: 50%;
    font-size: 24px;
}
.nav-doc p{
    color: #2c2b2b;
}
.bar::after{
    content: '';
    margin-top: 10px;
    height: 35px; 
    position: absolute;
    border: 2px solid #1a173a;
}

.nav-doc p{
    font-style: italic;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 12px;
}

.nav-doc i{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.nav-doc h4{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 20px;
}

.nav-doc img{
    height: 50%;
    width: 5%;
    margin-left: 20px;
    margin-right: 15px;

}

.social-icon{
    margin-left: 50px;
    color: #2c2b2b;
}

.nav-links{
    background-color: #15173b;
    height: 50%;
    padding-left: 20px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 30px;
    position: relative;
}
.nav-links ul li i{
    color: white;
}

.nav-links ul li :hover{
    color: #cdf100;
    transition: 0.5s;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;  
    font-size: 18px;

}


.logo-section{
    background-color: white;
    text-align: center;
    height: 130px;
    width: 250px;
}

.item-section{
    width: 100%;
    color: #2c2b2b;
}


/* search section  */
.wrapper{

	display: flex;
}

.trigger_search{
    background-color: transparent;
	border:0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline:0;
	cursor: pointer;

}

.input{

	border-radius: 20px;
	border:0;
	outline: 0;
	transition: 0.25s ease-in-out all;
	width: 0;
	padding: 0;
	margin-right: -20px;
	height: 40px;
}

.input-open{

	width: 20vw;
	padding: 0 20px;
	margin-right: 10px;
}

/* Banner video  */
.header video{
    position:absolute;
    width: 100%;
    height: 516px;
    object-fit: cover;
    z-index: 2;
    
}

.text
{
  position: relative;
  z-index: 10;
}

.text h2
{  
    padding-top: 150px;
    padding-left: 150px;
    font-size: 4em;
    font-weight: 800;
    color: white;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3
{
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 700;
    color: white;
    line-height: 1em;
    text-transform: uppercase;
}

.text a
{
    margin: 150px;
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #15173b;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
  background: #15173b;
  color: white;
}


/* activity-section  */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 760px;
    color: #2c2b2b;
}

.grid-child1{
    width: 100%;
    font-size: 20px;
    position: relative;
}
.grid-child1::after {
    content:'';
    background: url('./images/dmp.png') no-repeat local left;
    background-size: 250px;
    position: absolute;
    top: 50px;
    left: 200px;
    width:90%;
    height:90%;
    z-index:-1;
    opacity: 0.2;
}
.grid-child1 h2{
    margin: 100px 100px 50px 100px;
}

.grid-child1 p{
    margin: 0px 100px 50px 100px;
    text-align: justify;
    color: #2c2b2b;
}

.grid-child1 a{
    margin: 0px 100px 50px 100px;
    display: inline-block;
    font-size: 1em;
    background: #15173b;
    padding: 8px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s;
}

.grid-child1 a:hover
{
  background: #BD0606;

}

.grid-child2{
    width: 100%;
    background-color: #F5F5F5;
}

.grid-child2 h2{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;

}
.heading{
    position:relative;
}

.heading:before{
    content: "";
    display:block;
    width: 80px;
    height:3px;
    background: #C51B1A;
    position: absolute;
    left: 120px;
    top: 50%;
    }
.heading:after{
    content: "";
    display:block;
    width: 80px;
    height:3px;
    background: #C51B1A;
    position: absolute;
    right: 120px;
    top: 50%;
    }


.Members_catagory h3{
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #15173b;
}

.img-cards{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 491px;
    overflow-y: auto;
}    

.wrapper::-webkit-scrollbar{
    width:0;
}

.img-cards p{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

.imgCard p{
    color: #000;
}

.imgCard img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}


.thirdImagCards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.thirdImagCards p{
    color: #2c2b2b;
}
.thirdImagCards img{
    margin-top: 25px;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

/* Locc_President  */

.Locc_President{
    background-color: #15173B;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}

.Locc_President img{
    max-width:70%;
    height:auto;
    margin-top: 80px;
    margin-bottom: 15px;
    margin-left: 80px;
}
.Locc_President h3{
    margin-left: 150px;
    color: white;
}

.President-massage{
    width: 50%;
    margin-top: 80px;
    margin-right: 80px;
}
.President-massage h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    text-align: justify;
    line-height: 28px;
}
.President-massage p{
    margin-bottom: 30px;
    color: white;
    text-align: justify;
    line-height: 28px;
}

/* Chief part  */

.Locc_chief{
    background:#131B43;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.Locc_chief::before{
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('./images/bdPoliceLogo.png');
  background-repeat: no-repeat;
  background-position: 30%;
}

.Locc_chief img{
    max-width:80%;
    height:auto;
    margin-top: 150px;
    margin-bottom: 15px;
    margin-right: 80px;
}
.Locc_chief h3{
    margin-left: 50px;
    margin-top: 30px;
    color: white;
}

.chief-massage{
    width: 50%;
    margin-top: 80px;
    margin-left: 80px;
}
.chief-massage h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    text-align: justify;
    line-height: 28px;
}

.chief-massage p{
    margin-bottom: 30px;
    color: white;
    text-align: justify;
    line-height: 28px;
}

/* Division-portion  */

.Division-portion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    font-size: 30px;
    background-color: teal;
    margin-bottom: 100px;
}

.footer-Container{
    background: #131B43;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    height: 250px;
    
    
}

.about-section{
    margin-left: 100px;
    width: 250px;
}

.about-section h2,p {
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}

.quick-links-section,.support-section{
    color: white;
}

.quick-links-section a,.support-section a{
    margin-top: 15px;
    color: white;
    display: grid;
    text-decoration: none;  
}

.follow-container{
    color: white;
    text-align: center;
}

.footer-social-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin-left: 25px;
    font-size: 20px;
}
.footer-social-icon i{
    margin-right: 20px;
}

.depertment-logos{
    padding-top: 11px;
    display: flex;
    justify-content: space-around;
}
.depertment-logos img{
    width: 90px;
    height: 85px;
    margin-right: 30px;
    background: white;

}